/* main styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h2.title {
  line-height: 1.2;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

/* logo styles */
a.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
a.logo > span {
  color: #2e2f42;
}

/* navigation */
.navigation ul li > a.link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.navigation ul li > a.link:hover {
  color: #404bbf;
}
.navigation ul li > a.link:active {
  text-decoration: underline;
}

/* contacts */
.contacts {
  font-style: normal;
}
.contacts li > a.link {
  letter-spacing: 0.02em;
}
.contacts li > a:hover,
.contacts li > a:focus {
  color: #404bbf;
}

/* hero */
.hero {
  background-color: #2e2f42;
}
.hero .main-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero .btn {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero .btn:hover,
.hero .btn:focus {
  background-color: #404bbf;
}

/* features */
.features .text {
  letter-spacing: 0.02em;
}

/* team */
.team {
  background-color: #f4f4fd;
}
.team h2.title {
  line-height: 1.11;
}
.team .text {
  letter-spacing: 0.02em;
}

/* footer */
footer {
  background-color: #2e2f42;
}
footer a.logo > span {
  color: #ffffff;
}
footer p {
  color: #f4f4fd;
}
